@mixin radius($topleft, $topright, $bottomright, $bottomleft) {
  -moz-border-radius: $topleft $topright $bottomright $bottomleft;
  -webkit-border-radius: $topleft $topright $bottomright $bottomleft;
  border-radius: $topleft $topright $bottomright $bottomleft;
}

@mixin background-radius($color1, $color2) {
  background: -webkit-radial-gradient($color1, $color2); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient($color1, $color2); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient($color1, $color2); /* For Firefox 3.6 to 15 */
  background: radial-gradient($color1, $color2); /* Standard syntax (must be last) */
}

@mixin opacity($pct) {
  zoom: 1;
  filter: alpha(opacity=$pct);
  opacity: $pct/100;
}

@mixin radius-all($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin linear-gradient($posicao, $inicio, $fim) {
  background-image: -moz-linear-gradient($posicao, $inicio, $fim);
  background-image: -o-linear-gradient($posicao, $inicio, $fim);
  background-image: -webkit-linear-gradient($posicao, $inicio, $fim);
  background-image: linear-gradient($posicao, $inicio, $fim);
}

@mixin column($count, $gap) {
  -moz-column-count: $count; /* Firefox */
  -webkit-column-count: $count; /* Safari and Chrome */
  column-count: $count;
  -moz-column-gap: $gap; /* Firefox */
  -webkit-column-gap: $gap; /* Safari and Chrome */
  column-gap: $gap;
}

@mixin font($family, $size, $color, $weight: normal, $style: normal) {
  color: $color;
  font: {
    family: $family;
    size: $size + px;
    weight: $weight;
    style: $style;
  }
  line-height: ($size + 2) + px;
}

@mixin box-img($radius, $border, $bordercolor, $bgcolor) {
  @include radius-all($radius);
  background-color: $bgcolor;
  border: $border solid $bordercolor;
}

// Box sizing
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
  -moz-box-sizing: $boxmodel;
  box-sizing: $boxmodel;
}

@mixin transition-all($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin text-shadow($color) {
  text-shadow: 0px 1px 0px $color;
}

// Calc

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}